<% provide(:title, "Home") %>
<div class="row">
    <%= render('layouts/categories') %>
    <div class="span9">

        <ul class="breadcrumb">
            <li>推奨製品</li>
        </ul>

        <div class="row">
            <% @recommended_products.each do |product| %>
            <%= @product = product; render('layouts/quick_product') %>
            <% end %>
        </div>

        <ul class="breadcrumb">
            <li>新製品</li>
        </ul>

        <% @newest_products.each do |product| %>
        <%= @product = product; render('layouts/quick_product2') %>
        <% end %>

    </div>
</div>